:root {
  --bck-prime: rgb(30, 33, 58, 1);
  --bck-second: rgb(16, 14, 29, 1);
  --bck: rgb(60, 71, 233, 1);
  --btn-text: rgba(231, 231, 235, 1);
  --btn-bck: rgb(110, 112, 122, 1);
  --btn-btn: rgba(88, 86, 118, 1);
  --txt: rgb(160, 159, 177);
  --txt-prime: rgb(136, 134, 157);
  --form-txt: rgb(97, 100, 117);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-color: var(--bck-second);
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 459px;
  min-height: 81rem;
  background-color: var(--bck-prime);
  padding: 1.8rem 1.2rem 10.5rem 1.1rem;
}

header::before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  background-image: url(./assets/images/Cloud-background.png);
  background-position: top 4rem center;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.images-sun {
  position: relative;
  display: inline-block;
  padding: 7.6rem 0 0 0;
}

.header-container--1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn {
  color: var(--btn-text);
  font-size: 1.6rem;
  font-weight: 500;
  border: inherit;
  padding: 11px 20.5px;
  cursor: pointer;
}

.btn-search {
  background: #6E707A;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-here {
  position: relative;
  width: 40px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.btn-here::after {
  display: block;
  position: absolute;
  content: '';
  top: -2px;
  right: 1px;
  width: 37px;
  height: 35px;
  background-color: var(--btn-bck);
  border-radius: 100%;
}

.btn-here::before {
  display: block;
  position: absolute;
  content: '';
  top: 11px;
  right: 16px;
  width: 8px;
  height: 8px;
  background-color: var(--btn-text);
  border-radius: 100%;
  z-index: 2;
}

.icon-here {
  position: relative;
  width: 40px;
  height: 30px;
  z-index: 1;
}

.heading-1 {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  padding: 4rem 0 4.8rem;
}

.heading-strong {
  color: var(--btn-text);
  font-size: 14.4rem;
  font-weight: 500;
}

.heading-degrees {
  color: var(--txt);
  font-size: 4.8rem;
  font-weight: 500;
}

.heading-info {
  color: var(--txt);
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
}

.header-container--2 {
  display: flex;
  flex-direction: row;
  column-gap: 1.6rem;
  color: var(--txt-prime);
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 3.3rem;
}

.header-location {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.icon-location {
  width: 2.4rem;
  height: 2.4rem;
}

.header-place {
  color: var(--txt-prime);
  font-size: 1.8rem;
  font-weight: 600;
}

.nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--bck-prime);
  z-index: 5;
}

.btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--bck-prime);
  border: inherit;
}

.icon-close {
  position: absolute;
  top: 0;
  right: 0;
}

.form {
  max-width: 45.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 6rem 1.2rem 3.9rem 1.2rem;
  margin: 0 auto;
}

.form-input {
  color: var(--form-txt);
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid var(--btn-text);
  background-color: var(--bck-prime);
  background-image: url(./assets/icons/icon-search.svg);
  background-repeat: no-repeat;
  background-size: 24px 47px;
  background-position: left 12px center;
  padding: 1.4rem 0.6rem 1.4rem 4.9rem;
}

.btn-nav {
  background-color: var(--bck);
  border: inherit;
  padding: 1.5rem 1.5rem 1.5rem 2.05rem;
}

.search {
  max-width: 45.9rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-bottom: 30.2rem;
  margin: 0 auto;
  padding: 0 12px;
}

.icon-arrow {
  visibility: hidden;
}

.search-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 19px 0;
  border: 1px solid transparent;
  cursor: pointer;
}

.search-item:hover {
  border: 1px solid var(--form-txt);
}

.search-item:hover .icon-arrow {
  visibility: visible;
}

.search-link {
  color: var(--btn-text);
  text-decoration: none;
  padding-left: 1.2rem;
}

.main {
  background-color: var(--bck-second);
}

.weather-container {
  display: none;
}

.weather {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.6rem;
  row-gap: 3.2rem;
  padding: 5.2rem 5.4rem 5.1rem;
}

.weather-data {
  width: 45%;
  background-color: var(--bck-prime);
  padding: 1.8rem 2rem;
}

.weather-day {
  color: var(--btn-text);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 1rem;

}

.img-aura {
  display: block;
  width: 56.5px;
  height: 62px;
  margin: 0 auto;
}

.weather-degrees {
  display: flex;
  justify-content: center;
  column-gap: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 3.1rem;
}

.weather-degrees-max {
  color: var(--btn-text);
}

.weather-degrees-min {
  color: var(--txt);
}

.overview {
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
  padding: 0 2.35rem 9.6rem;
}

.heading-2 {
  color: var(--btn-text);
  font-size: 24px;
  font-weight: 700;
}

.overview-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
  min-height: 15.9rem;
}

.overview-container {
  background-color: var(--bck-prime);
  color: var(--btn-text);
  padding: 2.2rem 0 1.4rem;
}

.overview-description {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.overview-info {
  text-align: center;
}

.overview-number {
  font-size: 6.4rem;
  font-weight: 700;
}

.overview-detail {
  font-size: 3.6rem;
  font-weight: 500;
}

.overview-position {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.4rem;
}

.icon-wind {
  display: block;
  transform: rotate(-184deg);
  width: 2.5rem;
  height: 2.5rem;
}

.overview-wind {
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 1rem;
}

.overview-file {
  padding: 2.8rem 4.9rem 0.6rem 4.9rem;
}

.overview-percent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--txt);
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 3px;
}

.humidity-bar-track {
  position: relative;
  height: 8px;
  width: 100%;
  background-color: #E7E7EB;
  border-radius: 8rem;
}

.humidity-bar-thumb {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  height: 8px;
  width: 84%;
  background-color: #FFEC65;
  border-radius: 8rem;
}

.span-progress {
  display: block;
  text-align: right;
  margin-top: 0.4rem;
}

@media screen and (min-width: 950px) {
  .wrapper-all {
    display: flex;
    justify-content: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
  }

  .heading-1 {
    row-gap: 8.7rem;
    padding-bottom: 8.7rem;
  }

  .weather-data {
    min-width: 12rem;
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .overview-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 4.8rem;
    margin-bottom: 1.6rem;
  }

  .overview-container {
    width: 47%;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    width: 98.1rem;
    /* background-color: yellow; */
    padding: 0 12.3rem 1rem 15.4rem;
  }

  .wrapper-all {
    max-width: 144rem;
    margin: 0 auto;
  }

  .header {
    padding: 4.2rem 4.6rem 5rem;
  }

  .weather {
    column-gap: 2.4rem;
  }

  .weather-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
    padding: 4.2rem 0 6.6rem 0;
  }

  .btn-weather {
    font-size: 1.8rem;
    font-weight: 700;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: inherit;
    cursor: pointer;
  }

  .btn-weather-c {
    color: var(--bck-second);
    background-color: var(--btn-text);
  }

  .btn-weather-f {
    color: var(--btn-text);
    background-color: var(--btn-btn);
  }

  .weather {
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 12.4rem 7.2rem 12.4rem;
  }

  .overview {
    /* column-gap: ; */
    padding: 0 0 0 0;
  }

  .overview-wrapper {
    justify-content: space-between;
  }

  .overview-container {
    width: 48%;
  }
}